---
title: "Welcome"
---

Welcome to my site, built in Assemble!

This is a hbs content section, `content/_pages/index.hbs` (it also parses any included md)

Why don't you try going to the <a href="/about.html">about page</a>?