{{>site-header}}
  <div class="blog-nav" style="float: right; padding-right: 50px;">
    {{#each tags}}
      {{#is tag "BlogPost"}}
        <h2>Blog Posts:</h2>
        <ul>
          {{#withSort pages "data.posted"}}
            <li>
              <a href="{{fileref dest}}">{{data.title}}</a>
            </li>
          {{/withSort}}
        </ul>
      {{/is}}
    {{/each}}
  </div>

  <h1>This is the blog layout</h1>
  <div>Find it at templates/layouts/blog.hbs. <a href="/">home</a></div>

  <div class="page-content">
    <h2>Post: {{ title }}</h2>
    <h3>{{formatDate posted "%m/%d/%Y"}}</h3>
    {{#markdown}}
      {{> body}}
    {{/markdown}}

  </div>

{{>site-footer}}